body {
    background-color: #FFB6C1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.imagenes-laterales {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* Ajusta el margen según sea necesario */
}

.imagen-pequenita {
    width: 50px;
    /* Ajusta el tamaño según sea necesario */
    height: 50px;
    /* Ajusta el tamaño según sea necesario */
    margin: 0 10px;
    /* Ajusta el margen entre las imágenes según sea necesario */
}

.gato {
    width: 400px;
    height: 400px;
}

.boton-si {
    font-size: 50px;
    padding: 10px 20px;
    margin: 50px;
    cursor: pointer;
    color: black;
    border-radius: 25px;
}

/* Estilos para el botón "No" */
.boton-no {
    font-size: 50px;
    padding: 10px 20px;
    margin: 50px;
    cursor: pointer;
    color: black;
    border-radius: 25px;
}

.boton-nomuch {
    font-size: 50px;
    padding: 10px 20px;
    margin: 50px;
    cursor: pointer;
    color: black;
    border-radius: 25px;
}
/* Estilos para resaltar los botones al pasar el ratón sobre ellos */
.boton-si:hover {
    background-color: green;
}

.boton-no:hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* Deshabilita la interacción con el cursor */
}

.boton-nomuch:hover {
    background-color: yellow;
}

p.bigger {
    font-size: 50px;
}

#musica {
    visibility: hidden;
}

#ventana-emergente {
    display: none;
    background: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.cerrar-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background: pink;
}

.boton-si:active,
.boton-no:active,
.boton-nomuch:active {
    transform: translateY(4px);
}